body{
    background-color: rgb(173, 255, 251);
}

.container {
    margin: 0 auto;
}

.firstDiv {
    text-align: center;
    width: 50%;
    float: left;
    height: 250px;
    padding-top: 120px;
}

.secondDiv {
    text-align: center;
    width: 50%;
    float: left;
    height: 250px;
    padding-top: 120px;
}

.firstButton {
    width: 220px;
    height: 40px;
    background-color: rgb(24, 24, 24);
    color: azure;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 10px;
    transition: all .3s;
}

.firstButton:hover {
    width: 220px;
    height: 40px;
    background-color: rgb(68, 67, 67);
    color: azure;
    border: 1px solid rgb(0, 255, 76);
    border-radius: 10px;
    transition: all .3s;
}

.secondButton {
    text-transform: uppercase;
    width: 220px;
    height: 40px;
    background-color: rgb(0, 104, 202);
    color: azure;
    border: 1px solid rgb(0, 104, 202);
    border-radius: 10px;
    transition: all .3s;
}

.secondButton:hover {
    content: '';
    bottom: 0;
    left: 0;
    background-color: cornflowerblue;
    transition: all .3s;
}


.thirdButton {
    display: inline-block;
      padding: 10px 20px;
      text-align: center;
      background: linear-gradient(to left, #FF6347, #8A2BE2); /* Gradient colors */
      background-size: 200% auto;
      background-position: right center;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-size: 18px;
      text-decoration: none;
      transition: background-position 0.5s ease;
}

.thirdButton:hover {
    background-position: left center;
}

.fourthButton {
    text-transform: uppercase;
    width: 220px;
    height: 40px;
    background-color: rgb(239, 247, 255);
    color: rgb(61, 61, 61);
    border: 1px solid rgb(239, 247, 255);
    border-radius: 10px;
    transition: all .3s;
    font-size: 16px;
    font-weight: bold;
}

.fourthButton:hover {
    box-shadow: 0 5px 10px #2e2e2e;
}

.fourthButton:active {
    box-shadow: 0 5px 10px #2e2e2e;
    transform: translateY(-5px);
}